.page {
  display: flex;
  width: 100vw;
  /* height: 100vh; */
  flex-direction: column;
  background-color: radial-gradient(circle farthest-corner at center center, #C378FC 0%, #231421 100%);
}

.tree-container {
  position: absolute;
  z-index: -1;
}

.header {
  display: flex;
  margin: auto;
  flex-grow: 2;
}

.header-text {
  margin: auto;
  font-size: 80px;
  background: linear-gradient(to right, #B612CF 0%, #D22144 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.body {
  display: flex;
  flex-grow: 3;
}

.tail {
  display: flex;
  flex-grow: 5;
}


